{
    "presets": [
      "@babel/preset-typescript",
      "@babel/preset-env"
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "root": [
            "./"
          ]
        }
      ],
      [
        "@babel/plugin-transform-runtime",
        {
          "regenerator": true
        }
      ]
    ],
    "ignore": [
    ]
  }